<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="inline-block text-base font-semibold leading-6 text-gray-900">Ticket Information for <%= @ticket[:code] %></h1>
      <a href="/flights/<%= @flight_id %>/edit" class="float-right text-base font-semibold leading-6 text-indigo-600">Return to Flight <%= @flight[:code] %></a>
      <p class="mt-2 text-sm text-gray-700">Select from the options below to update a flight</p>
    </div>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Class</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Seat</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Traveler</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Bags</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <form action="/flights/<%= @flight_id %>/tickets/<%= @id %>" method="POST">
              <tr>
                <td class="whitespace-nowrap py-8 px-2 text-sm text-gray-500 sm:pl-0">
                  <select id="class" name="class" class="block w-64 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="<%= params[:class] || @ticket[:class] %>"> <%= params[:class] || @ticket[:class] %> </option>
                    <option value="1. Economy">1. Economy</option>
                    <option value="2. Premium Economy">2. Premium Economy</option>
                    <option value="3. Business Class">3. Business Class</option>
                    <option value="4. First Class">4. First Class</option>
                  </select>
                </td>
                <td class="whitespace-nowrap px-2 py-8 text-sm text-gray-500">
                  <select id="seat" name="seat" class="block w-64 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="<%= params[:seat] ||  @ticket[:seat] %>"> <%= params[:seat] || @ticket[:seat] %></option>
                    <option value="Window">Window</option>
                    <option value="Middle">Middle</option>
                    <option value="Aisle">Aisle</option>
                  </select>
                </td>
                <td class="whitespace-nowrap px-2 py-8 text-sm text-gray-500">
                  <select id="traveler" name="traveler" class="block w-64 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="<%= params[:traveler] || @ticket[:traveler] %>"> <%= params[:traveler] || @ticket[:traveler] %></option>
                    <option value="Adult">Adult</option>
                    <option value="Child">Child</option>
                    <option value="Infant">Infant</option>
                  </select>
                </td>
                <td class="whitespace-nowrap px-2 py-8 text-sm text-gray-500">
                  <select id="bags" name="bags" class="block w-64 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="<%= params[:bags] || @ticket[:bags] %>"> <%= params[:bags] || @ticket[:bags] %></option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </td>
                <td class="float-right py-8 flex flex-col items-center relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <button type="submit" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Update Ticket
                  </button>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-0"><%= @ticket[:class] %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @ticket[:seat] %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @ticket[:traveler] %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @ticket[:bags] %></td>
                <td scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Round Trip</span>
                </td>
              </tr>
            </form>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>